<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="by.bsuir.booking.rest.controller" />
	<mvc:annotation-driven />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/booking_db" />
		<property name="username" value="root" />
		<property name="password" value="Krest78223460" />
	</bean>

	<!--<bean id="dataSource"
		  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://mysql33845-booking.mycloud.by/booking_db" />
		<property name="username" value="booking_db" />
		<property name="password" value="Krest78223460" />
	</bean>-->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>by.bsuir.booking.rest.model.Picture</value>
				<value>by.bsuir.booking.rest.model.Reservation</value>
				<value>by.bsuir.booking.rest.model.Role</value>
				<value>by.bsuir.booking.rest.model.Room</value>
				<value>by.bsuir.booking.rest.model.Typeroom</value>
				<value>by.bsuir.booking.rest.model.User</value>
				<value>by.bsuir.booking.rest.model.Check_r</value>
			</list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/booking_db</prop>
				<prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
			</props>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="pictureDao" class="by.bsuir.booking.rest.dao.PictureDaoImpl" />
	<bean id="reservationDao" class="by.bsuir.booking.rest.dao.ReservationDaoImpl" />
	<bean id="roleDao" class="by.bsuir.booking.rest.dao.RoleDaoImpl" />
	<bean id="roomDao" class="by.bsuir.booking.rest.dao.RoomDaoImpl" />
	<bean id="typeRoomDao" class="by.bsuir.booking.rest.dao.TypeRoomDaoImpl" />
	<bean id="userDao" class="by.bsuir.booking.rest.dao.UserDaoImpl" />
	<bean id="checkDao" class="by.bsuir.booking.rest.dao.CheckDaoImpl" />

	<bean id="pictureServices" class="by.bsuir.booking.rest.services.PictureServicesImpl" />
	<bean id="reservationServices" class="by.bsuir.booking.rest.services.ReservationServicesImpl" />
	<bean id="roleServices" class="by.bsuir.booking.rest.services.RoleServicesImpl" />
	<bean id="roomServices" class="by.bsuir.booking.rest.services.RoomServicesImpl" />
	<bean id="typeRoomServices" class="by.bsuir.booking.rest.services.TypeRoomServicesImpl" />
	<bean id="userServices" class="by.bsuir.booking.rest.services.UserServicesImpl" />
	<bean id="checkServices" class="by.bsuir.booking.rest.services.CheckServicesImpl" />

</beans>