<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_web_Booking:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_web_Booking_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC_web_Booking/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_web_Booking" />
          <element id="module-output" name="REST_API_Booking" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.2.5.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.2.5.RELEASE" />
          <element id="library" level="project" name="Hibernate 4.2.2-4.2.2" />
          <element id="library" level="project" name="Hibernate 4.0.1-4.1.1" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="REST_API_Booking/web/Web" />
    </root>
  </artifact>
</component>